.title {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;

  h1 {
    color: #221d21;
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    color: #221d21;
    font-size: 1rem;
    text-align: center;
    padding: 10px 50px 0 50px;
  }
}