.movie {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 20px;

  .info {
    width: 40%;
  }

  h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #221d21;
  }

  p {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #221d21;
  }

  .actors {
    font-weight: 700;
    color: #221d21;
  }

  span {
    font-size: 1.2rem;
    color: #221d21;
  }

  .review {
    font-weight: 700;
    margin-right: 5px;
    padding-top: 20px;
  }
  .star {
    display: flex;
    align-items: center;
  }
}