.movie {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

  @media (max-width: 750px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .info {
    width: 40%;

    @media (max-width: 750px) {
      width: 80%;
    }
  }

  .poster {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 750px) {
      margin-bottom: 20px;
      width: 100%;
      margin-top: -40px;
    }
  }

  h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #221d21;
  }

  p {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #221d21;
  }

  .actors {
    font-weight: 700;
    color: #221d21;
  }

  span {
    font-size: 1.2rem;
    color: #221d21;
  }

  .review {
    font-weight: 700;
    margin-right: 5px;
    padding-top: 20px;
  }
  .star {
    display: flex;
    align-items: center;
  }
}